In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib notebook
sns.set()

In [2]:
#Customer Demographics
cust_dem= pd.read_csv(r'D:\Datasets\Coupon recommendation\Amex Coupon prediction_train\customer_demographics.csv')
cust_dem.shape

(760, 7)

In [3]:
#train -Under preparation
train= pd.read_csv(r'D:\Datasets\Coupon recommendation\Amex Coupon prediction_train\train.csv')
print(train.shape)
train=pd.merge(train,cust_dem,on='customer_id')
train.shape

(78369, 5)

(43661, 11)

In [4]:
train.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,13,27,1053,0,46-55,NaN,0,1,NaN,5
1,2444,13,513,1053,0,46-55,NaN,0,1,NaN,5
2,3651,13,166,1053,0,46-55,NaN,0,1,NaN,5
3,7712,13,766,1053,0,46-55,NaN,0,1,NaN,5
4,15317,13,165,1053,0,46-55,NaN,0,1,NaN,5

In [5]:
#item data and transaction data
item_data=pd.read_csv('D:\Datasets\Coupon recommendation\Amex Coupon prediction_train\item_data.csv')
print(item_data.shape)
trans_data=pd.read_csv('D:\Datasets\Coupon recommendation\Amex Coupon prediction_train\customer_transaction_data.csv')
print(trans_data.shape)
trans_data=pd.merge(trans_data,item_data,on='item_id')
trans_data.shape

(74066, 4)
(1324566, 7)

(1324566, 10)

In [6]:
del item_data,cust_dem
trans_data.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,brand,brand_type,category
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0,56,Local,Natural Products
1,2012-01-02,135,26830,1,35.26,-10.69,0.0,56,Local,Natural Products
2,2012-01-02,464,26830,1,35.26,-10.69,0.0,56,Local,Natural Products
3,2012-01-12,1185,26830,1,45.95,0.00,0.0,56,Local,Natural Products
4,2012-01-13,1140,26830,1,45.95,0.00,0.0,56,Local,Natural Products

In [9]:
trans_data['category'].value_counts()

Grocery                   942176
Pharmaceutical            155245
Packaged Meat              66110
Natural Products           52981
Meat                       23056
Dairy, Juices & Snacks     20465
Bakery                     18218
Fuel                       13797
Prepared Food              13069
Seafood                     7043
Skin & Hair Care            4868
Miscellaneous               3197
Flowers & Plants            1602
Alcohol                     1343
Salads                       429
Garden                       413
Travel                       247
Restauarant                  211
Vegetables (cut)              96
Name: category, dtype: int64

In [10]:
trans_data['item_id'].nunique()

74063

In [18]:
trans_data1=trans_data.loc[(trans_data['category']=='Grocery') | (trans_data['category']=='Pharmaceutical'),:]
trans_data1.shape

(1097421, 10)

In [19]:
#coupon and campaign data
camp_data=pd.read_csv(r'D:\Datasets\Coupon recommendation\Amex Coupon prediction_train\campaign_data.csv')
print(camp_data.shape)
                      
coupon_data=pd.read_csv('D:\Datasets\Coupon recommendation\Amex Coupon prediction_train\coupon_item_mapping.csv')
print(coupon_data.shape)

train=pd.merge(train,camp_data,on='campaign_id')
print(train.shape)
train=pd.merge(train,coupon_data,on='coupon_id')
print(train.shape)
train=pd.merge(train,trans_data1,on='customer_id')
train.shape

(28, 4)
(92663, 2)
(3807856, 18)

MemoryError: